{% extends "layout.html" %}

{% block title %}
    Discord Clone
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="/static/index_styles.css"> 
    <div id="title">
        <h1>Your place to talk</h1> <br>
        <p>Whether you’re part of a school club, gaming group, worldwide art community, or just a handful of friends that want to spend time together, Discord (Clone) makes it easy to talk every day and hang out more often.</p>
        <br> <br> <br>
        <img src="static/image-1.svg" id="img1">
        <img src="static/image-2.svg" id="img2">
        <button type="button" id="button" onclick="window.location.replace('/search')">Search for all your guilds!</button>
    </div>
{% endblock %}
