{% extends "layout.html" %}

{% block title %}
    Latest Message 
{% endblock %}

{% block main %}
	<link rel="stylesheet" href="/static/all_styles.css"> 
	<div class='here'>
		<br><br><br>
        <h1>Latest Messages</h1>
        {% if results|length == 0 %}
        	<h3>No messages found</h3>
	    {% else %}
		    <ul>
		        {% for result in results %}
		            <li>Message ID: {{ result[0]}}, Message Body: {{ result[1]}} </li>
		        {% endfor %}
		    </ul>
	    {% endif %}
    </div>
{% endblock %}
