{% extends "layout.html" %}

{% block title %}
    Users and Channels in Guild
{% endblock %}

{% block main %}
	<link rel="stylesheet" href="/static/all_styles.css"> 
	<div class='here'>
		<br><br><br>
		<h1>Users in guild</h1>
		{% if user_results|length == 0 %}
		    <h3>No user subscribed to guild</h3>
		{% else %}
		    <ul>
		        {% for result in user_results %}
		            <li>{{ result[1] }} - {{ result[2] }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
		<h1>Channel in guild</h1>
		{% if channel_results|length == 0 %}
		    <h3>No channel found in guild, please try again</h3>
		{% else %}
		    <ul>
		        {% for result in channel_results %}
		            <li><a href="/channel/{{ result[0] }}">{{ result[1] }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
	</div>
{% endblock %}
